.contact {
    background-image: url("../img/banners/bg-3.png");
    background-position: center;
    background-size: cover;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form_name-input,
.form_mail-input,
.form_phone-number-input,
.form_text-area {
    @include input($padding: 1.5rem);
    background-color:rgba(0, 196, 196, 0.5);
    border: none;
    margin-bottom: 1.5rem;

    &:focus {
        background-color: rgba(100,441,441,0.5);
    }
}

.form_text-area {
    height: 250px;
}

.form_name-input::-webkit-input-placeholder,
.form_mail-input::-webkit-input-placeholder,
.form_phone-number-input::-webkit-input-placeholder,
.form_text-area::-webkit-input-placeholder { /* Chrome */
    color: #fff;
}

.contact_contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.contact_data-company {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.contact_data-item {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 1.3;
}

@media only screen and (max-width: 570px) {
    .contact_contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .contact_form {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .form_name-input,
    .form_mail-input,
    .form_phone-number-input,
    .form_text-area {
        @include input($width: 100%, $border: none, $padding: 1.5rem);
    }

    .form_text-area {
        max-height: 150px;
    }

    .contact_data-company {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: #fff;
        padding: 10px 20px;
    }

    .contact_data-item {
        margin-bottom: 1rem;
        font-size: 1.7rem;
        line-height: 1.5;
    }
}