html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3%;
}

section {
    padding: 3rem 0;
}

h2 {
    font-family: 'raleway', sans-serif;
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.4;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}