.our-clients-section {
    padding: 8.5rem 0;
}

.our-clients-section_row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.our-clients-section_brand-row { 
    margin-bottom: 8rem;
}

.our-clients-section_introduce-box {
    width: 30rem;
}

.our-clients-section_heading {
    margin-bottom: 3rem;
    color:  #202242;
}

.our-clients-section_paragraph {
    color:  #adadad;
}

.our-clients-section_brand-box {
    width: 17rem;
    height: 11.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.25s;

    &:hover {
        transform: scale(1.2);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2); 
    }
}

.brand-1 {
    background-image: url("../img/article/tree-logo.png");
}

.brand-2 {
    background-image: url("../img/article/x-logo.png");
}

.brand-3 {
    background-image: url("../img/article/u-logo.png");
}

.brand-4 {
    background-image: url("../img/article/fish-logo.png");
}

.our-clients-section_blockquote {
    font-family: Rockwell;
    font-size: 1.4rem;
    line-height: 1.4;
    background-color:  rgba(245, 243, 243, 0.5);
    padding: 3rem 2rem;
    color:  #a4a4a4;
    position: relative;

    p {
        margin-bottom: 2rem;
    }

    &:after {
        content: url("../img/article/portret.png");
        right: 0;
        position: absolute;
        transform: translate(-50%, 50%);
        bottom: 0;
    }
}
.our-clients-section_blockquote_client-name {
    font-family: Raleway;
    color:  #696969;
    display: block;
}

.blockquote-left {
    margin: 0 1.5rem 0 0;
}

.blockquote-center {
    margin: 0 1.5rem 0 1.5rem;
}

.blockquote-right {
    margin: 0 0 0 1.5rem;
}

@media only screen and (max-width: 780px) {
    .our-clients-section_introduce-box {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .our-clients-section_row {
        flex-flow: wrap;
        justify-content: center;
    }

    .our-clients-section_brand-box {
        margin: 0.5rem;
    }

    .our-clients-section_blockquote {
        width: 100%;
        margin: 0 0 5rem 0;
    }
}