.gallery {
    background-color:  #ffe92f;
}

.special-wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.gallery_title {
    margin-bottom: 10px;
}

.gallery_paragraph {
    margin-bottom: 45px;
}

.gallery_images {
    overflow: hidden;
    margin: 0 -15px 15px;
}

.gallery_main-image {
    float: left;
    height: 580px;
    width: 66%;
    padding: 1.5rem;
}

.gallery_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.gallery_img-0 {
    background-image: url("../img/article/img-2.png");
}

.gallery_smaller-image {
    float: left;
    height: 290px;
    width: 34%;
    padding: 1.5rem;
}

.gallery_medium-image {
    float: left;
    height: 400px;
    padding: 1.5rem;
    width: 50%;
}

.gallery_img-3 {
    background-image: url("../img/article/img-4.png");
}

.gallery_img-4 {
    background-image: url("../img/article/img-3.png");
}

.gallery_img-1 {
    background-image: url("../img/article/img-1.png");
}

.gallery_img-2 {
    background-image: url("../img/article/img-5.png");
}

.gallery_img-5 {
    background-image: url("http://cdn.myld.com.au/2/1260/atherton-health-food-centre_f36383a658.jpg");
}

.gallery_img-6 {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/2f/66/6d/2f666dd3d0ab695efb0a87c3d093e285.jpg");
}

.gallery_button {
    @include btn(2rem 4rem);
    background-color: #5585a2;
    font-size: 2rem;
    display: block;
    margin: 0 auto;

    &:hover,
    &:focus {
        background-color: #6696b3;
    }
}

@media only screen and (max-width: 1175px) {
    .wrapper {
        max-width: 770px;
        width: 100%;
        margin: 0 auto;
    }

    .gallery_main-image {
        display: block;
        width: 100%;

        .gallery_img-0 {
            background-size: contain;
        }
    }

    .gallery_smaller-image {
        width: 50%;
    }

    .gallery_medium-image {
        height: 260px; 
    }
}

@media only screen and (max-width: 780px) {
    .gallery_images {
        display: flex;
        flex-flow: wrap; 
        justify-content: center;
        align-items: center;
    }

    .gallery_main-image,
    .gallery_smaller-image,
     .gallery_medium-image {
        margin: 0;
        max-height: 260px;
        width: 320px;
        background-size: contain;
    }

    .gallery_main-image {
        width: 320px;

    .gallery_img-0 {
        background-size: cover;
    }
}

}

