.subscribe-to-us {
    background-image: url("../img/banners/bg-2.png");
    background-size: cover;
    background-position: center;
}

.subscribe-to-us_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.subscribe-to-us_heading {
    font-size: 4rem;
    font-weight: 700;
}

.subscribe-to-us_input {
    @include input;
    display: inline-block;
}

.subscribe-to-us_paragraph {
    max-width: 50%;
    text-align: left !important;
}

.subscribe-to-us_button {
    @include btn;
    background-color: #96b92c;

    &:focus,
    &:hover {
        background-color: #97c93d;
    }
}

@media only screen and (max-width: 640px) {
    .subscribe-to-us {
        background-image: none;
    }
    .subscribe-to-us_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe-to-us_paragraph {
        max-width: 100%;
        text-align: center !important;
    }
    .subscribe-to-us_input {
        margin-bottom: 1rem;
        @include input($width: 250px);
    }

    .subscribe-to-us_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}