html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    color: #f8b74d;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ccc;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

span {
    line-height: 1.1;
}