html {
	height: 100%;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: relative;
	color: #262626;
	font-size: 1.4rem;
}


* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&.important-header {
		font-style: italic;
		font-weight: 600;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	line-height: 1.3;
}

h1 {
	margin-bottom: 3rem;
	font-size: 5.6rem;
	font-weight: 900;
}

h2 {
	font-size: 7rem;
	font-family: PlayfairDisplay;
	font-weight: 400;
	text-align: center;
	margin-bottom: 3rem;
}

h3 {
	font-size: 2rem;
	font-weight: 400;
}

em {
	font-style: italic;
}

.disabled-link {
	pointer-events: none;
}

.inline {
	display: inline-block;
}

.wrapper {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 3%;
	clear: both;
}

section {
    padding: 10rem 0;
	height: auto;
	overflow: auto;
}

button {
	min-width: 165px;
	padding: 1rem 3rem;
	border: none; 
	cursor: pointer;
	text-transform: uppercase;
}

p {
	font-size: 17px;
	font-family: 'open sans', sans-serif;
	margin-bottom: 1.5rem;
	line-height: 1.6;
	font-weight: 300;
	text-align: center;
}

a {
    text-align: left;
	text-decoration: none;
	cursor: pointer;
}

.main-paragraph {
	max-width: 80rem;
	text-align: justify;
	margin: 0 auto;
}

@media only screen and (max-width: 800px) {
	html {
		font-size: 50%;
	}

	section {
		padding: 7rem 0;
	}

	h2 {
		line-height: 1;
		margin-bottom: 3rem;
	}
}