html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    height: 100vh;
    background-color: #000;
}

.wrapper {
    padding: 2.5rem;
}

main {
    height: auto;
    width: 85%;
    padding-left: 15%;
}

a {
    line-height: 1.2;
}

p {
    color: #fff;
    line-height: 1.6;
}