html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

section {
    padding: 9rem 0;
}

.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

h1 {
    color: rgba(255,255,255,0.8);
    font-weight: 900;
    text-shadow: 5px 0px 10px rgba(0,0,0,.5);   
    text-align: center;
}

h2 {
    color:  #494949;
    font-size: 6rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 6rem;
}

h3 {
    font-family: 'OpenSans', sans-serif;
    color: $lowerHeadingColor;
    font-size: 3rem;
    font-weight: 900;
}

p {
    font-family: 'OpenSans', sans-serif;
    color:  #6a6a6a;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
}

button {
    @include defaultBtn;
}