header {
    min-height: 620px;
    background-image: url('../img/banner/BG.png');
    background-size: cover;
    background-position: center;
}

.header_nav {
    @include flex;
    justify-content: space-around;
}

.header_nav_logo {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: $fullWhite;
}

.header_nav_main-nav {
    @include flex;
}

.main-nav_list-item {
    @include flex;
    li {
        a {
            color: $fullWhite;
            font-size: 1.5rem;
        }
    }
}