.about-us {
    background-image: url("../img/banners/movie-img.png");
    background-size: cover;
    height: 530px;
    display: flex;
    align-items: center;
}

.about-us_start-button_base {
    margin: 0 auto;
    width: 12rem;
    height: 12rem;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    padding: 1.5rem;
    cursor: pointer;
}

.about-us_start-button_holder {
    width: 9rem;
    height: 9rem;
    background-color:  #f0f0f0;
    border-radius: 50%;
    position: relative;

    &:after {
        content: "";
        width: 0;
        height: 2.5rem;
        position: absolute;
        border-left: 2.5rem solid #f95d5a;
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        top: 0;
        margin-top: 2.5rem;
        left: 0;
        margin-left: 40%;
    }
}