.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_author-name {
    width: 20rem;
    height: 8.5rem;
    background-image: url("../img/icons/author-name.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}